* {
	margin:0;
}

body {
  max-width: 40em;
  margin: 0 auto;
}

header {
  margin:2%;
  min-width: 20em;
  font-family: 'Cinzel', serif;
}

.quizbox {
	background-color: gray;
	border-radius: .5em;
	margin: 2%;
}


.rootbox {
	margin-left: 7%;
	padding: 1em 0 .5em;

}

.rootbox > * {
	display: inline-block;
}

.rootbox > p {
	margin-right: 5%;
	font-family: 'Cinzel', serif;
}

.root {
	font-family: 'Cinzel', serif;
}

.example {
	margin: .5em 1em;
}

.answer {
	background-color: #020283;
	color: white;
	border-radius: .5em;
	margin: .5em;
	padding: 1em;
}

.buttons {
	text-align: center;
}

button {
	border: none;
	border-radius: .5em;
	padding: .25em 5em;
	margin: 1em 1.5em;
	text-align: center;
	width: 6em;
}

.incorrect {
  background-color: red;
}

.correct {
  background-color: green;
}

.startpage, .endpage {
   padding: .5em 0; 
}

.quizintro, .quizsummary {
	background-color: #020283;
	color: white;
	border-radius: .5em;
	margin: .5em;
	padding: 1em;
}

.quizintro > p, .quizsummary> p {
  margin: .5em;
  line-height: 2em;
}

a {
  color:white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

 .quiz,  {
  
}

.startpage, .endpage {
  display: none;
}


nav {
	background-color: #D8D8D8;
	border-radius: .5em;
	overflow: auto;
	width: 100%;
	margin-top: .5em;
}

nav > div {
}

.questionNo {
	float: left;
	margin: 1em;
	font-weight: bold;
}

.nextArrow {
	width: 20px;
	margin: 1em auto 0 ;
	border: 1px solid #000;
}

.score {
	float: right;
	margin: .5em;
	margin-right: 1em;
	text-align: center;
}

.score > p {
	font-size: .8em;
}
.clear {
  clear:both;
}

@media all and (min-width: 36em) {
	.quiz, .startpage, .endpage {
     float:left;
     width: 88%;
	}
  
	nav {
	  float:right;
		width: 10%;
		height: 100%;
		margin: 0;
	}

	.questionNo, .score, .nextArrow {
		width: 2em;
		margin: 2.5em auto;
	}

	.questionNo, .score{
		float: none;
	}
  
  .answer {
    margin: 1em 5% 1em;
  }

}